html, body{ 
	padding:0;
	/* background-color:#d1b9a7; */
	background-repeat: no-repeat;
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	font-family: 'Open Sans Condensed', sans-serif;
	/* background-image:url("../img/bg-11-full.jpg"); */
}

.row {
	margin-right: 0px;
	margin-left: 0px
}

.container-fluid{
	  height:100%;
	  display:table;
	  width: 100%;
	  padding: 0;
}

.bordering{
	border-radius: 25px;
    background: #e2f598;
    padding: 20px;  
}

/*-------------------------------------------------------------------------------------------  */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a9efab;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #398439;
}

input:focus + .slider {
  box-shadow: 0 0 1px #398439;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
